<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Moderate content</h4>
    <button
      type="button"
      class="close"
      aria-label="Close"
      class="btn btn-primary text-black ms-auto"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div *ngIf="srcString">
      <div>{{ fullName }}</div>
      <img
        [src]="srcString"
        height="600"
        width="auto"
        *ngIf="srcString"
        alt="Uploaded Image"
      />
      <div>
        <button class="btn" (click)="approve()">Approve</button>
        <button class="btn" (click)="dismay()">Dismay</button>
      </div>
    </div>
    <div *ngIf="!srcString">Out Of Pictures</div>
  </div>
</ng-template>

<button
  *ngIf="hasModeratorPermissions"
  class="btn upload-picture-button float-right"
  (click)="open(content)"
>
  Moderate
</button>
<hr />
