@import 'https://fonts.googleapis.com/css?family=Dosis:300,400|Pacifico|Raleway:400,700';

:root {
    /* ASWWU Fonts */
    --font-1: 'Dosis', sans-serif; /* Headers and big text */
    --font-2: 'Raleway', sans-serif; /* Generic Text */
    --font-test: "Brush Script MT", cursive; /* an eye-sore font to make sure it's working */
    /* Colors */
    --light: rgb(241, 242, 242); /* overrides bootstrap */
    --dark: black; /* overrides bootstrap */
    /* Departmental Colors */
    --color-outdoors: rgb(174, 209, 54);
    --color-tread-shed: rgb(219, 225, 37);
    --color-atlas: rgb(241, 225, 10);
    --color-mountain-ash: rgb(252, 197, 23);
    --color-photo: rgb(242, 164, 52);
    --color-video: rgb(233, 50, 37);
    --color-collegian: rgb(189, 86, 160);
    --color-web: rgb(133, 82, 161);
    --color-marketing: rgb(95, 68, 155);
    --color-global-service: rgb(74, 91, 168);
    --color-spiritual: rgb(94, 150, 208);
    --color-social: rgb(99, 198, 187);
    --color-senate: rgb(132, 201, 139);
    --color-executive: rgb(121, 193, 76);
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--font-1);
}

* {
    font-family: var(--font-2);
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}

/* Bootstrap Overrides and bootstrap-like additions */
.bg-dark {
    background-color: var(--dark) !important;
}
.bg-light {
    background-color: var(--light) !important;
}
