/* mobile nav menu items */

.mnc /deep/ .card-header, 
.mnc /deep/ .card-body, 
.mnc /deep/ .card, 
.mnc /deep/ .btn {
  background-color: var(--gray);
  color: white;
  border: 0px none;
  font-size: 1.5rem;
}

.mnc /deep/ .card {
  background-color: var(--gray);
  color: white;
  border: 0px none;
  padding: 0;
}

.mnc /deep/ .card-body {
  border-left: 1rem solid var(--dark);
  padding-left: .5rem;
  font-size: 1rem;
}

.mnc /deep/ .card-body .btn {
  font-size: 1rem;
}

.mnc /deep/ .btn {
  width: 100%;
  text-align: left;
  text-decoration: none;
}

.mnc /deep/ .btn :active {
  background-color: var(--light);

}

/* mobile-nav-menu */
  .mobile-scrollable-menu {
    z-index: 3;
    height:100vh;
    overflow-y: auto;
    position: fixed;
  }
/* mobile nav menu animation */
.collapse.mobile-scrollable-menu, .collapse.show {
    display: block !important;
    transition: all .4s cubic-bezier(0, 1.03, 0.28, 0.99);
  }

  .collapse.mobile-scrollable-menu{
   width: 0;
  }

  .collapse.show {
    width: 100%;
    /* if we add swiping to open and close the menu this doesn't need to be 100% */
  }

  @media only screen and (min-width:768px) {
    /* for desktop */
    .desktop-hide {
      width:0 !important;
    }
  }
