#navbarLogo {
  max-height: 20px;
  height: auto;
  width: auto;
  max-width: 30vw;
}

/*Nav*/
#nav-links {
  width: 100%;
  padding-top: 10px;
  padding-bottom: 10px;
  font-weight: 300;
}

#nav-links li {
  display: inline-block;
  float: none;
  border-right: 1px solid white;
  padding: 0 16px 0 16px;
}
#nav-links li:nth-last-child(1) {
  border-right: none;
}
#nav-links li a {
  font-family: var(--font-1);
  color: white;
  transition:
    color 0.2s,
    background-color 0.2s;
}
#nav-links li a:hover {
  color: grey;
  text-decoration: none;
}
.navbar {
  border-radius: 0;
}

.dropdown {
  /* Sub navbar has z-index: 1030 and these should be above that. */
  z-index: 1050;
}
.dropdown div button {
  all: initial;
  border: 0px;
  font-family: var(--font-1);
  color: white;
  transition:
    color 0.2s,
    background-color 0.2s;
  background-color: inherit;
  cursor: pointer;
}

.dropdown div button :hover {
  all: initial;
  color: grey;
  text-decoration: none;
}

nav {
  position: relative;
  width: 100%;
  top: 0 !important;
  z-index: 3 !important;
}
#nav-spacer {
  display: none;
  height: 50px;
}

/* Breakpoint for sticky mobile-nav */
@media only screen and (max-width: 768px) {
  nav {
    position: fixed;
    /* drop shadow */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.49);
  }
  #nav-spacer {
    position: relative;
    display: block;
    width: 100%;
  }
}

/* Sub-Nav Bar */
#subnav-bar {
  background-color: #282828;
  font-size: 15px;
  border-bottom: solid 2px black;
  vertical-align: middle;
  /* allows dropdown of navbar to be seen */
  z-index: 1;
}

#subnav-links li {
  display: inline-block;
  padding: 0 16px 0 16px;
}

#subnav-links li a {
  color: white;
  font-family: var(--font-2);
  transition:
    color 0.2s,
    background-color 0.2s;
}

#subnav-links li a:hover {
  color: grey;
  text-decoration: none;
}
