<nav class="navbar bg-dark navbar-expand-md">
  <div class="container-xxl">
    <!-- we only want the toggler to be using it's dark theme -->
    <button
      class="navbar-toggler"
      type="button"
      data-target="#mobile-nav-collapsible"
      aria-controls="mobile-nav-collapsible"
      aria-controls="navbarNavAltMarkup"
      aria-label="Toggle navigation"
      (click)="isCollapsed = !isCollapsed"
      [attr.aria-expanded]="!isCollapsed"
      data-bs-theme="dark"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <a href="/" class="mr-2 navbar-brand">
      <img
        id="navbarLogo"
        class="img-fluid logo"
        src="/assets/ASWWU_logo.png"
        alt="ASWWU Logo"
      />
    </a>

    <!-- Desktop Navbar -->
    <div class="collapse navbar-collapse" id="desktop-nav-links">
      <ul
        id="nav-links"
        class="navbar-nav text-xs-center mr-auto d-none d-md-block"
      >
        <li
          *ngFor="let item of links"
          [ngClass]="{
            'nav-item': item.link !== null,
            dropdown: item.link === null,
          }"
        >
          <!-- For Direct Links -->
          <a
            *ngIf="item.link !== null"
            class="smooth text-uppercase"
            href="{{ item.link }}"
          >
            {{ item.text }}
          </a>
          <!-- For Links with Dropdowns -->
          <div *ngIf="item.link === null" ngbDropdown class="d-inline-block">
            <button
              ngbDropdownToggle
              class="btn btn-outline-primary text-uppercase"
              id="{{ 'dropdown' + item.text }}"
            >
              {{ item.text }}
            </button>
            <div
              ngbDropdownMenu
              class="dropdown-menu bg-dark"
              [attr.aria-valuenow]="'dropdown' + item.text"
            >
              <a
                *ngFor="let dropdownItem of item.dropdownLinks"
                href="{{ dropdownItem.link }}"
                class="dropdown-item text-uppercase"
                >{{ dropdownItem.text }}</a
              >
            </div>
          </div>
        </li>
      </ul>
    </div>
    <content-moderation class="mt-sm-auto d-flex"></content-moderation>
    <user-bubble></user-bubble>
  </div>
</nav>
<div id="nav-spacer"></div>

<!-- Sub Navbar -->
<div
  *ngIf="showSubNav"
  id="subnav-bar"
  class="navbar navbar-expand-sm hidden-sm-down sticky-top"
>
  <div id="subnav-links" class="container-xxl">
    <ul class="nav navbar-nav text-xs-left mr-auto">
      <li *ngFor="let link of subNavbarLinks" class="nav-item">
        <a class="smooth" [routerLink]="link.linkURI">{{ link.linkText }}</a>
      </li>
    </ul>
  </div>
</div>

<!-- Mobile Navigation Menu -->
<div
  class="desktop-hide mobile-scrollable-menu bg-dark"
  id="mobile-nav-collapsible"
  [ngbCollapse]="!isCollapsed"
>
  <ul id="mobile-subnav-links" class="navbar-nav text-xs-center">
    <li
      *ngFor="let item of subNavbarLinks"
      class="boop"
      [ngClass]="{
        'nav-item': item.linkURI !== null,
        dropdown: item.linkURI === null,
      }"
    >
      <!-- For Direct Links -->
      <a
        *ngIf="item.linkURI !== null"
        class="smooth text-uppercase d-block p-4"
        href="{{ item.linkURI }}"
      >
        {{ item.linkText }}
      </a>
    </li>
  </ul>
  <ul id="mobile-nav-links" class="navbar-nav text-xs-center">
    <li
      *ngFor="let item of links"
      class=""
      [ngClass]="{
        'nav-item': item.link !== null,
        dropdown: item.link === null,
      }"
    >
      <!-- For Direct Links -->
      <a
        *ngIf="item.link !== null"
        class="smooth text-uppercase d-block p-4"
        href="{{ item.link }}"
      >
        {{ item.text }}
      </a>
      <!-- For Links with Dropdowns -->
      <div *ngIf="item.link === null" ngbDropdown class="d-block">
        <button
          ngbDropdownToggle
          class="dropdown-button btn btn-outline-primary text-uppercase d-block p-4"
          id="{{ 'dropdown' + item.text }}"
        >
          {{ item.text }}
        </button>
        <div
          ngbDropdownMenu
          class="dropdown-menu"
          [attr.aria-valuenow]="'dropdown' + item.text"
        >
          <a
            *ngFor="let dropdownItem; in: item"
            href="{{ dropdownItem.link }}"
            class="dropdown-item text-uppercase p-3"
            >{{ dropdownItem.text }}</a
          >
        </div>
      </div>
    </li>
  </ul>
</div>
