<nav class="navbar navbar-dark bg-dark navbar-expand-md">

  <button class="navbar navbar-toggler" 
          type="button" 
          data-target="#mobile-nav-collapsible" 
          aria-controls="mobile-nav-collapsible" 
          (click)="isCollapsed = !isCollapsed"
          [attr.aria-expanded]="!isCollapsed"
  >
    <span class="navbar-toggler-icon"></span>
  </button>

  <img id="navbarLogo" class="img-fluid logo" src="https://aswwu.com/media/images/ASWWU_logo.png" />

  <!-- Desktop Navbar -->
  <div class="collapse navbar-collapse" >
    
    <ul id="nav-links" class="navbar-nav text-xs-center mr-auto d-none d-md-block">
      <li *ngFor="let item of links" [ngClass]="{'nav-item': item.link != null, 'dropdown': item.link == null}">
        <!-- For Direct Links -->
        <a *ngIf="item.link != null" class="smooth text-uppercase" href="{{item.link}}"> {{item.text}} </a>
        <!-- For Links with Dropdowns -->
        <div *ngIf="item.link == null" ngbDropdown class="d-inline-block">
            <button ngbDropdownToggle class="btn btn-outline-primary text-uppercase" id="{{'dropdown' + item.text}}" >{{item.text}}</button>
            <div ngbDropdownMenu class="dropdown-menu bg-dark" [attr.aria-valuenow]="'dropdown' + item.text">
              <a *ngFor="let dropdownItem of item.dropdownLinks" href="{{dropdownItem.link}}" class="dropdown-item text-uppercase">{{dropdownItem.text}}</a>
            </div>
        </div>
      </li>
    </ul>

  </div>
  <user-bubble></user-bubble>
</nav>
<div id="nav-spacer"></div>

<!-- Mobile Navigation Menu -->
<div class="desktop-hide mobile-scrollable-menu bg-dark" id="mobile-nav-collapsible" [ngbCollapse]="!isCollapsed">
    <ul id="mobile-nav-links" class="navbar-nav text-xs-center">
        <li *ngFor="let item of links" class="" [ngClass]="{'nav-item': item.link != null, 'dropdown': item.link == null}">
          <!-- For Direct Links -->
          <a *ngIf="item.link != null" class="smooth text-uppercase d-block p-4" href="{{item.link}}"> {{item.text}} </a>
          <!-- For Links with Dropdowns -->
          <div *ngIf="item.link == null" ngbDropdown class="d-block">
              <button ngbDropdownToggle class="btn btn-outline-primary text-uppercase d-block p-4" id="{{'dropdown' + item.text}}" >{{item.text}}</button>
              <div ngbDropdownMenu class="dropdown-menu" [attr.aria-valuenow]="'dropdown' + item.text">
                <a *ngFor="let dropdownItem of item.dropdownLinks" href="{{dropdownItem.link}}" class="dropdown-item text-uppercase p-3">{{dropdownItem.text}}</a>
              </div>
          </div>
        </li>
      </ul>
</div>
