<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Profile update</h4>
    <button
      type="button"
      class="btn btn-primary text-black ms-auto"
      aria-label="Close"
      (click)="modal.dismiss('Cross click')"
    >
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <input
          type="file"
          id="file"
          (change)="handleFileInput($event)"
          accept="image/jpeg, image/png, image/jpg, image/heic"
        />
      </div>
    </form>
  </div>
  <image-cropper
    [imageChangedEvent]="imageChangedEvent"
    [maintainAspectRatio]="true"
    [aspectRatio]="2/3"
    format="jpeg"
    quality="0.8"
    (imageCropped)="imageCropped($event)"
    (loadImageFailed)="loadImageFailed()"
  ></image-cropper>
  <div class="modal-footer space-between-content">
    <div class="image-restriction">
      Image file size must be smaller than 10 MB
    </div>
    <button
      type="button"
      class="btn btn-outline-dark"
      (click)="modal.close('Save click')"
    >
      Save
    </button>
  </div>
</ng-template>

<button class="btn btn-default dropdown-item" (click)="open(content)">
  Upload Photo
</button>
